.title {
max-width:300px;
}
.date {
max-width:300px;
}
.norm_url {
max-width:500px;
  overflow:hidden;
}
.domain {
max-width:300px;
}
.tags {
max-width:300px;
}
.content {
max-width:600px;
}

#send  {
 visibility:hidden;
}
.input-group{
font-family:"Irma Text Light";
}
.filter-group{
float:right;
}
.page-title{
font-family:"Irma Text Slab Thin";
}
th#table.social-table{
font-weight:bold;
font-size:16px;
}